body {
    background-color: #455A64;
}

select {
    margin: 4px;
    margin-left: 30px;
}

#board {
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 100%;
}

.container {    
    margin: auto;
}

.left-column {    
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
}

.right-column {    
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#top-panel {
    padding: 20px;
}

.panel {
    background-color: #FAFAFA;
    border-radius: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#turnDelaySlider {
    vertical-align: middle;
}

#turnDelayValue {
    width: 75px;
}

#turn-table {
    border-style: none;
    border-radius: 5px;
    display: inline-block;
    overflow-y: scroll;
    width: 100%;
}

#text-column {
    width: 100%;
}

.player-chip-1{
    width: 20px;
    height: 20px;
    background:blue;
}

.player-chip-2{
    width: 20px;
    height: 20px;
    background:red;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.nav-button {
    font-size: 20px;
    width: 60px;
    margin: 2px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#nav-buttons {
    text-align: center;
}