body {
    background-color: #455A64;
}

#board {
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container {
    display: flex;
}

#top-panel {
    padding: 10px;    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.panel {
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 90%;
    margin-left: 2.5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#turnDelayValue {
    width: 100px;
}

#turn-table {
    margin-top: 15px;
    background-color: #FAFAFA;
    border-radius: 5px;
    border-style: none;
}

#text-column {
    width: 100%;
}

.player-chip-1{
    width: 20px;
    height: 20px;
    background:blue;
}

.player-chip-2{
    width: 20px;
    height: 20px;
    background:red;
}

tbody {
    height: 100px;
    overflow: scroll;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}