body {
    background-color: #cfd8dc;
}

canvas {
    background-color: #eceff1;
    width: 500px;
    height: 500px;
}

.container {
    display: flex;
    background-color: white;
}

.fixed {
    width: 500px;
}

.right-panel {
    flex-grow: 1;
}

#turnDelayFieldset {
    float: left;
}

#turnDelayValue {
    width: 100px;
}